 /* BIG SCREEN */

@media screen and (min-width: 992px) {

  body {
    background-color: white;
    padding-bottom: 200px;
    align-items: center;
    justify-content: center;
    margin-inline: 20%;
  }

  .navHeader {
    font-family: "Belanosima", sans-serif;
    font-size: 50px;
    margin-bottom: 40px;
    text-align: left;
    padding-top: 20px;
    padding-inline: 0px;
    padding-bottom: 10px;
    border-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: rgb(249, 212, 0);
    background-color: white;
    padding-right: 50px;
  }

  .navHeaderSimple {
    font-family: "Belanosima", sans-serif;
    font-size: 50px;
    margin-bottom: 40px;
    text-align: left;
    padding-top: 20px;
    padding-inline: 0px;
    padding-bottom: 10px;
    border-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: rgb(249, 212, 0);
    background-color: white;
    display: flex;
    justify-content: space-between;
  }

  .fa-solid:hover {
    color: gold;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .mainContainer {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 600px;
    align-self: center;
  }

  .homeTagline {
    font-size: 30px;
    margin-bottom: 40px;
    margin-inline: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }

  .moduleCard {
    height: 50px;
    background-color: rgb(247, 247, 247); 
    margin-bottom: 20px;
    border-radius: 10px;
    margin-inline: auto;
    box-shadow: -3px 3px 1px rgb(210, 210, 210);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
    justify-content: space-between;
    display: inline-flex;
    width: 40%;
  }

  .moduleCard:hover {
    background-color: rgb(249, 212, 0);
    color: white;
  }

  .moduleDescription {
    font-size: 13px;
    width: 40%;
    margin-left: 10px;
    text-align: right;
    margin-top: 0px;
  }

  .moduleHeader {
    font-family: "Belanosima", sans-serif;
    font-size: 30px;
    margin-inline: 0px;
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
  }

  .lessonHeader {
    font-size: 50px;
    padding: 10px;
    margin-bottom: 30px;
    margin-inline: 0px;
    font-family: 'Lucida Sans Regular', sans-serif;
    font-weight: lighter;
  }

  .lessonProgressLine {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
  }

  iframe {
    aspect-ratio: 16 / 9;
    width: 80%;
    height: 100%;
    display: block;
    margin: auto;
    border-radius: 10px;
  }

  .quizTopLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .quizLabel {
    font-size: 24px;
    margin-inline: 0px;
    font-family: 'Lucida Sans Regular', sans-serif;
    font-weight: lighter;
    margin-top: 20px;
  }

  #options {
    margin-top: 40px;
    margin-bottom: 30px;
    color: black;
  }

  .optionButton {
    background-Color: rgb(241, 241, 241);
    font-size: 18px;
    height: 20px;
    width: fit-content;
    margin-Top: 10px;
    padding: 10px;
    border-Radius: 5px;
}

.optionButtonSelected {
  background-Color: rgb(196, 196, 196);
  font-size: 18px;
  height: 20px;
  width: fit-content;
  margin-Top: 10px;
  padding: 10px;
  border-Radius: 5px;
}

.optionButtonSelected:hover {
  cursor: pointer;
}

.optionButton:hover {
  background-Color: rgb(227, 227, 227);
  cursor: pointer;
}


#nextButton:hover, .nextModuleButton:hover {
  background-Color: rgb(116, 255, 239);
  cursor: pointer;
}

#nextButton, .nextModuleButton {
  background-Color: rgb(0, 255, 225);
  font-size: 18px;
  margin-Top: 40px;
  padding: 10px;
  border-Radius: 5px;
  color: black;
  height: 20px;
  width: fit-content;
}

#quizContainer {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(0, 174, 159);
  padding: 20px;
  padding-bottom: 20px;
  color: white;
  margin-top: 50px;
}

#question {
  font-size: 24px;
  font-weight: 100;
  margin-top: 40px;
}

#questionNoLine {
    font-size: 24px;
    font-family: 'Lucida Sans Regular', sans-serif;
    font-weight: lighter;
}

#questionNote {
  margin-top: 40px;
}

#correctMessage {
  margin-top: 40px;
}

.personalResponseInputForm {
  width: 90%;
  padding: 10px;
}

.personalResponseInputDiv {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  height: 100px;
}

.paragraphContainer {
  font-family: 'Lucida Sans Regular', sans-serif;
  font-size: 20px;
  padding-inline: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.paddedTextBox {
  background-color: antiquewhite;
  padding: 30px;
  margin-top: 50px;
  margin-top: 50px;
  font-size: 20px;
  border-radius: 10px;
}

#copyTextButton {
  background-color: rgb(63, 114, 255);
  color: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: right;
}

#copyTextButton:hover {
  background-color: rgb(95, 138, 255);
  color: black;
  cursor: pointer;
}

.copyButtonDiv {
  display: flex;
  justify-content: right;
}

.boldHeaderMediumSize {
  font-weight: bold;
}

.scaleBody {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.scaleLabels {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.scaleNumber {
  height: auto;
  width: 10%;
  background-color: aliceblue;
  color: black;
  border: 1px solid grey;
  text-align: center;
  line-height: 40px;
}

.scaleNumber:hover {
  cursor: pointer;
}

}








