 /* SMALL SCREEN */

@media screen and (max-width: 992px) {

html
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    background-color: rgb(249, 212, 0);
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.navHeader {
  font-family: "Belanosima", sans-serif;
  font-size: 130px;
  margin-bottom: 80px;
  padding-bottom: 20px;
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: rgb(249, 212, 0);
  padding-top: 50px;
  padding-right: 50px;
  text-align: right;
  background-color: rgb(249, 212, 0);
}

.navHeader:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.navHeaderSimple {
  padding: 30px;
  font-size: 60px;
  display: flex;
  justify-content: space-between;
}

.mainContainer {
width: 100%;
}

.lessonHeader {
  font-family: 'Lucida Sans Regular', sans-serif;
  font-weight: lighter;
  font-size: 80px;
  padding: 10px;
  padding-inline: 20px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.optionButton:hover {
    background-Color: rgb(227, 227, 227);
    cursor: pointer;
}


#nextButton:hover, .nextModuleButton:hover {
    background-Color: rgb(116, 255, 239);
    cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.moduleCard:hover {
  background-color: rgb(166, 166, 166);
  color: white;
}

.homeTagline {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 50px;
  text-align: center;
  margin-bottom: 120px;
  margin-inline: 7%;
}


iframe {
  display: block;
  position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  
}

iframe, .iFrame, .iFrameContainer {
  display: block;
  margin: 0;
  padding: 0;
}

.iFrameContainer {
  position: relative;
  padding-top: 56.25%;
}

#quizContainer {
  background-color: rgb(249, 212, 0);
  padding: 20px;
  padding-bottom: 1000px;
  color: black;
}

.quizTopLine {
  text-align: right;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 10px;
  font-size: 60px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#questionNoLine {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
}

#question {
  margin-top: 50px;
  font-size: 60px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 100;
  margin-bottom: 50px;
  text-align: center;
  padding-inline: 20px;
}

#correctMessage {
  margin-bottom: 30px;
  font-size: 60px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#nextButton {
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.moduleCard {
  height: 230px;
  background-color: white;
  margin-bottom: 50px;
  border-radius: 10px;
  margin-inline: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
  font-size: 70px;
  padding: 50px;
  margin-right: 20px;
  margin-left: 20px;
  justify-content: space-between;
}

.moduleDescription {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 40px;
  margin-top: 30px;
}

.moduleHeader {
  font-family: "Belanosima", sans-serif;
  font-size: 50px;
  display: flex;
  align-items: center;
  text-align: right;
}

.lessonProgressLine {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
}


.quizLabel {
  font-family: "Belanosima", sans-serif;
  font-size: 50px;
  margin-bottom: 10px;
}

#options {
  margin-bottom: 50px;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.optionButton {
  background-Color: rgb(241, 241, 241);
  font-size: 60px;
  margin-Top: 40px;
  padding: 50px;
  border-Radius: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.optionButtonSelected {
  background-Color: rgb(196, 196, 196);
  font-size: 60px;
  margin-Top: 40px;
  padding: 50px;
  border-Radius: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.optionButtonSelected:hover {
  cursor: pointer;
}


#nextButton, .nextModuleButton {
  background-Color: rgb(0, 255, 225);
  font-size: 60px;
  margin-Top: 80px;
  padding: 60px;
  border-Radius: 5px;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.personalResponseInputForm, .personalResponseInputDiv {
  width: 100%;
  font-size: 60px;
  margin-Top: 80px;
  border-Radius: 5px;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.personalResponseInputForm {
  height: 5em;
}

.paragraphContainer {
  font-family: 'Lucida Sans Regular', sans-serif;
  font-size: 50px;
  padding-inline: 50px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.paddedTextBox {
  background-color: antiquewhite;
  padding: 30px;
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 40px;
  border-radius: 10px;
}

#copyTextButton {
  background-color: rgb(0, 84, 112);
  color: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 50px;
  text-align: right;
}

.copyButtonDiv {
  display: flex;
  justify-content: right;
}

.boldHeaderMediumSize {
  font-weight: bold;
}

}




 /* BIG SCREEN */

@media screen and (min-width: 992px) {

  body {
    background-color: white;
    padding-bottom: 200px;
    align-items: center;
    justify-content: center;
    margin-inline: 20%;
  }

  .navHeader {
    font-family: "Belanosima", sans-serif;
    font-size: 50px;
    margin-bottom: 40px;
    text-align: left;
    padding-top: 20px;
    padding-inline: 0px;
    padding-bottom: 10px;
    border-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: rgb(249, 212, 0);
    background-color: white;
    padding-right: 50px;
  }

  .navHeader:hover {
    color: rgb(38, 0, 152);
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .mainContainer {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 600px;
    align-self: center;
  }

  .homeTagline {
    font-size: 30px;
    margin-bottom: 40px;
    margin-inline: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }

  .moduleCard {
    height: 50px;
    background-color: rgb(247, 247, 247); 
    margin-bottom: 20px;
    border-radius: 10px;
    margin-inline: auto;
    box-shadow: -3px 3px 1px rgb(210, 210, 210);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
    justify-content: space-between;
    display: inline-flex;
    width: 40%;
  }

  .moduleCard:hover {
    background-color: rgb(249, 212, 0);
    color: white;
  }

  .moduleDescription {
    font-size: 13px;
    width: 40%;
    margin-left: 10px;
    text-align: right;
    margin-top: 0px;
  }

  .moduleHeader {
    font-family: "Belanosima", sans-serif;
    font-size: 30px;
    border-bottom: 2px;
    border-bottom-style: solid;
    padding: 10px;
    margin-inline: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .lessonHeader {
    font-size: 70px;
    padding: 10px;
    margin-bottom: 30px;
    margin-inline: 0px;
    font-family: 'Lucida Sans Regular', sans-serif;
    font-weight: lighter;
  }

  .lessonProgressLine {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
  }

  iframe {
    aspect-ratio: 16 / 9;
    width: 80%;
    height: 100%;
    display: block;
    margin: auto;
    border-radius: 10px;
  }

  .quizLabel {
    font-size: 40px;
    padding: 10px;
    margin-inline: 0px;
    font-family: 'Lucida Sans Regular', sans-serif;
    font-weight: lighter;
  }

  #options {
    margin-top: 0px;
    margin-bottom: 30px;
    color: black;
  }

  .optionButton {
    background-Color: rgb(241, 241, 241);
    font-size: 18px;
    height: 20px;
    width: fit-content;
    margin-Top: 10px;
    padding: 10px;
    border-Radius: 5px;
}

.optionButtonSelected {
  background-Color: rgb(196, 196, 196);
  font-size: 18px;
  height: 20px;
  width: fit-content;
  margin-Top: 10px;
  padding: 10px;
  border-Radius: 5px;
}

.optionButtonSelected:hover {
  cursor: pointer;
}

.optionButton:hover {
  background-Color: rgb(227, 227, 227);
  cursor: pointer;
}


#nextButton:hover, .nextModuleButton:hover {
  background-Color: rgb(116, 255, 239);
  cursor: pointer;
}

#nextButton, .nextModuleButton {
  background-Color: rgb(0, 255, 225);
  font-size: 18px;
  margin-Top: 10px;
  padding: 10px;
  border-Radius: 5px;
  color: black;
  height: 20px;
  width: fit-content;
}

#quizContainer {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(0, 174, 159);
  padding: 20px;
  padding-bottom: 20px;
  color: white;
  margin-top: 50px;
}

#question {
  margin-top: 0px;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 30px;
}

#questionNoLine {
    font-size: 30px;
    padding: 10px;
    font-family: 'Lucida Sans Regular', sans-serif;
    font-weight: lighter;
}

#correctMessage {
  margin-bottom: 30px;
}

}








